<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <h4>Mantenimiento Materias</h4>
        <button class="btn btn-success" >Agregar</button>
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materia of lstMaterias; let i = index">
                <td>{{ materia.idMateria }}</td>
                <td>{{ materia.nombreMateria }}</td>
                <td>
                    <button class="btn btn-primary" >Actualizar</button>
                    <button class="btn btn-danger ml-2" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
